h3{
    margin-bottom: 10px;
}
body{
  justify-content: center;
}
.main_container{
  height: 90vh;
  width: 90vw;
  background-color: pink;
}
.container {
  display: flex;
  justify-content: space-between;
}


.container div {
  width: auto;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 15px;
}


.container-content{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    gap: 10px
}


.container-content div{
    padding: 10px 25px;
}


.container-top {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}


.logo-image{
    height: 70px;
    display: flex;
}

h2{
  margin: 10px;
}
.logo img{
  height: 100%;
  width: 100%;
}


.image-act{
    height: 40px;
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 600px) {

}


.page{
    text-decoration: none;
    color: gray;
    font-size: 20px;
    cursor: pointer;
    width: auto;
    font-size: auto;
}


.page:hover{
    text-decoration: underline;
    color: #242424;
}


.button {
  display: inline-block;
  border-radius: 4px;
  background-color: palevioletred;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: auto;
  padding: 13px;
  width:auto;
  cursor: pointer;
}


.button span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}


.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}


.button:hover span {
  padding-right: 25px;
}


.button:hover span:after {
  opacity: 1;
  right: 0;
}


.journal-section{
    width: auto;
    margin: 0 auto;
    padding: 20px;
    display: block;
}


.journal-section h3{
    margin-bottom: 10px;
}


.inputs {
    width: 90%;
    max-width: 20em;
    height: 2.5em;
    border-color: grey;
    border-style: none none solid none;
    border-radius: 0.5em;
    border-width: 2px;
    padding: 0.5em;
    font-size: large;
}

textarea{
  width: 100%;
    box-sizing: border-box;
    height: 6em;
    border: 2px solid grey;
    border-radius: 0.5em;
    padding: 0.5em;
    overflow-wrap: break-word;
}

/* toggle button */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  top: 35%;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}